.feed {
  background-color: #fff;
  padding: 22px 32px;
  border-radius: 5px;
  padding-right: 10px;
  min-width: 300px;
}

.feed-row {
  padding: 0 20px;

  border-left: 4px solid #713bdb;
  margin-bottom: 30px;
}

.feed-title {
  color: #444;
  font-size: 16px;
  font-weight: normal;
}

.feed-date {
  color: #888;
}
