.user-row {
  background-color: #fff;
  padding: 0 35px;
  height: 60px;
  border-radius: 5px;
  color: #74798c;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    cursor: pointer;
    -webkit-user-select: none;

    &:hover {
      color: #713bdb;
    }
  }
}

.user-row__left {
  display: flex;
  align-items: center;

  span {
    font-weight: bold;
  }
}

.avatar {
  width: 38px;
  height: 38px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 20px;
}
